## --- Environment variable --- ##
ENV=LOCAL
DEBUG=false
# TZ=UTC
# PYTHONDONTWRITEBYTECODE=1


## -- API configs -- ##
TASKDECOMP_API_PORT=8000
# TASKDECOMP_API_CONFIGS_DIR="/etc/task_decomposition"
# TASKDECOMP_API_LOGS_DIR="/var/log/task_decomposition"
# TASKDECOMP_API_DATA_DIR="/var/lib/task_decomposition"
# TASKDECOMP_API_TMP_DIR="/tmp/task_decomposition"
# TASKDECOMP_API_VERSION="1"
# TASKDECOMP_API_PREFIX="/api/v{api_version}"
# TASKDECOMP_API_DOCS_ENABLED=true
# TASKDECOMP_API_DOCS_OPENAPI_URL="{api_prefix}/openapi.json"
# TASKDECOMP_API_DOCS_DOCS_URL="{api_prefix}/docs"
# TASKDECOMP_API_DOCS_REDOC_URL="{api_prefix}/redoc"
